{% extends 'base.html' %}

{% block titl %}
    <title>New Task</title>
{% endblock %}
{%block styleblock %}
.input-feild {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.content-block {
    border: solid #7952b3;
    border-radius: 0 3px 3px 3px;
    padding: 5px;
    overflow: hidden;
}

.subhead {
    font-style: bolder;
    display: inline-block;
    background-color: #7952b3;
    border-radius: 0 6px 0 0;
    padding: 3px;
    padding-right: 75px;
    margin: 0px;
}

.save-button:hover {
    background-color: #7952b3;
    color: black;
    padding: 0px 8px;
    border: 6px 7px;
    border-radius: 5px;

}

@media (max-width: 400px){
    .input-feild {
        width: 90%;
    }
}
{% endblock %}
{% block content %}
    <h2 class="subhead"><u>New task:</u></h2>
    <form class="content-block" action="/new" method="POST">
        <lable for="titl"><h3>Title:</h3></lable>
        <input class="input-feild" id="titl" type="text" name="titl" placeholder="Title" required>
    
        <label for="desc"><h3>Task:</h3></label>
        <input class="input-feild" id="desc" type="text" name="desc" placeholder="Task description">

        <input class="save-button" style="float: right;" type="submit" value="Save Task">
    </form>
{% endblock %}